.card {
  height: 25rem;
  width: 20rem;
  border-radius: 5%;
  margin: 2rem;
  margin-bottom: 0;
  background-color: black;
}

img {
  height: 20rem;
  width: 100%;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  margin: 0;
  display: flex;
}

h2 {
  border-top: solid 2px white;
  margin: 0;
}
