.card {
  height: 200px;
  width: 160px;
  border-radius: 5%;
  margin: 15px;
  margin-bottom: 0;
  background-color: black;
}

img {
  width: 100%;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  margin: 0;
  display: flex;
}

h2 {
  border-top: solid 2px white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: medium;
}
